<div class="row">
    <div class="col-lg-6 form-inline">
        <div class="form-group">
        <label>gene seed</label>
        <input type="text"
               class="form-control"
               ng-model="graphParams.initSeed"
               placeholder="gene symbol"
               typeahead="geneSymbol for geneSymbol in autocompleteGeneSymbol($viewValue)"
               typeahead-min-length="3"
               typeahead-editable="false"
               typeahead-on-select='changeInitSeed()'
                >
        </div>

        <label>dataset</label>
        <select
                class="form-control"
                ng-model="graphParams.dataset"
                ng-options="d.name for d in graphParams.possibleDataset"
                ng-change="changeDataset()">
        </select>
    </div>
</div>